
<div class="restaurant__block">
  <div class="restaurant__summary__block">
    <p class="restaurant__summary">
      店名 :  <%= link_to " #{restaurant.restaurant}", restaurant_path(restaurant.id), class: :card__user %></p>
    <p class="restaurant__summary">詳細リンク :   <%= link_to 'こちらをクリック', restaurant.gaibu_net ,target: :_blank%></p>
    <p class="restaurant__summary">時間帯 :      <%= restaurant.time_zone.name %></p>
    <p class="restaurant__summary">ジャンル :    <%= restaurant.category.name %></p>
    <p class="restaurant__summary">閉店時間 :    <%= restaurant.close_time.name %></p>
    <p class="restaurant__summary">メモ :       <%=restaurant.memo %></p>
    <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="https://tabeiku-app.herokuapp.com/" data-color="default" data-size="large" data-count="false" style="display: none;"></div>
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  <% if current_user == restaurant.user%>
    <p class="restaurant__summary">
      <div><%= link_to "お店の情報を編集", edit_restaurant_path(restaurant.id), class: :card__user %></div>
      <div><%= link_to "お店の情報を削除", restaurant_path(restaurant.id), method: :delete, class: :card__user %></div>
    </p>
  <%else%>
    <div><%= link_to " #{restaurant.user.nickname}", user_path(restaurant.user.id), class: :card__user %>さんが発見</div>
  <%end%>
  </div>
</div>
