<!DOCTYPE html>
<html>
  <head>
    <title>TabeikuApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700 rel="stylesheet">
  </head>
<header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
           <%= link_to image_tag("logo.png", class: :logo__tag), root_path %>
            <%# <%= link_to "TABEIKU",root_path,class: "logo"  %>
          <%# <div class="logo">TABEIKU</div> %>
          </div>
          <% if user_signed_in? %>
            <div class="nav__right">
              <li><%= link_to "#{current_user.nickname}", user_path(current_user.id), class: "user-nickname" %>  さん   ログイン中</li>
              <li><%= link_to '行ってみたいお店発見！', new_restaurant_path, class: "omise__btn" %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav__btn" %></li>
              <li><%= form_with(url: search_restaurants_path, local: true, method: :get, class: "search-form") do |form| %>
              <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
              <%= form.submit "検索", class: "search-btn" %></li>
            <% end %>
            </div>
          <% else %>
            <div class="nav__right">
              <li><%= link_to 'ログイン', new_user_session_path, class: "nav__btn" %></li>
              <li><%= link_to '新規登録', new_user_registration_path, class: "nav__btn" %></li>
            </div>
          <% end %>
        </div>
      </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
